{% extends "index.html" %}

{% block titulo %}
<a class="navbar-brand" href="#">Producto</a>
{% endblock titulo %}

{% block contenido %}
<form id="formdata" class="was-validated" method="post" enctype="multipart/form-data" action="listar">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nombre_producto" class="form-label">Nombre Producto:</label>
      <input type="text" name="nombre_producto" class="form-control" id="nombre_producto" placeholder="Escribir nombre" required/>
      <div class="invalid-feedback">
        Por favor ingrese nombre
      </div>
    </div>
     <div class="mb-3">
      <label for="precio_producto" class="form-label">Precio:</label>
      <input type="number" name="precio_producto" id="precio_producto"  class="form-control" id="precio" placeholder="Escribir precio" required></input>
      <div class="invalid-feedback">
       Por favor ingrese precio
      </div>
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock:</label>
      <input type="number" name="stock" class="form-control" id="stock" placeholder="Ingrese Stock" required></input>
      <div class="invalid-feedback">
        Por favor ingrese stock
      </div>
    </div>
    <div class="mb-3">
      <label for="pvp" class="form-label">PVP:</label>
      <input type="number" name="pvp" id="pvp" class="form-control"  placeholder="Ingrese PVP" required></input>
      <div class="invalid-feedback">
        Por favor ingrese PVP
      </div>
    </div>
    <div class="mb-3">
        <label for="categoria_campo" class="form-label">Categoria:</label>
      <select class="form-select" name="categoria" id="categoria_campo" required aria-label="seleccione">
         <option value="">Seleccione</option>
        {% for categoria  in categorias %}
        <option value={{categoria.id_categoria}}>{{categoria.nombre_categoria}}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Por favor seleccione categoria
      </div>
    </div>
    <div class="mb-3">
      <input type="file" name="imagen_producto" id="imagen_producto" class="form-control" aria-label="file example" required>
      <div class="invalid-feedback">
        Por favor seleccione imagen
      </div>
    </div>
  
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Enviar formulario</button>
    </div>
  </form>
  
{% endblock %}